@font-face {
	font-family: 'My Font1';
	src: url('font/Pretendard-Light.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'My Font2';
	src: url('font/Pretendard-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'My Font3';
	src: url('font/Pretendard-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'My Font4';
	src: url('font/Pretendard-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'My Font5';
	src: url('font/Pretendard-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	z-index: 999;
	background-color: transparent;
	text-align: right; /* 메뉴를 우측 정렬 */
	box-sizing: border-box;
}

.logo {
	float: left; /* 로고를 왼쪽에 고정 */
	margin-right: 50px;
	font-size: 1.2rem;
	font-family: 'My font3';
	color: #fff;
}

header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header li {
	display: inline-block;
	margin-left: 20px;
}

header a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-family: 'My Font2';
}

header a:hover{
	color: #333;
}
footer {
	background-color: #333;
	padding: 30px;
	color: #fff;
	padding: 30px;
}

main{
    color: #fff;
    height: 1080px;
    background-image: url("img/nmain.jpg");
}

main h2{
    font-family: 'My Font5';
    font-size: 4rem;
    text-align: center;
    padding-top:20%;
}

main p{
    text-align: center;
    font-family: "My Font1";
    padding-top: 2%;
    font-size: 18px;
    line-height: 150%;
}

.container {
    margin: 150px;
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    flex-direction: row;
  }
  
  .container img {
    width: 500px;
    height: 600px;
    border-radius: 0 30% 0 30%; /* 보더 레디우스 값 지정 */
    margin-right: 20px; /* 오른쪽 여백 */
  }
  
  .img1{
    margin-left: 180%;
}

.text{
    padding: 70px;  
    margin: 90px;  
}

.text h2{
    margin-bottom: 30px;
    font-style: 'My Font3';
    font-size: 3rem;
}

.text p{
    font-style: 'My Font1';
    line-height: 170%;
    font-size: 1rem;
}

.container h3{
    font-family: "My Font2";
    border: 1px solid #333;
    padding: 20px;
    border-radius: 100px;
}